.parent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 80px;
    width: 400px;
}

.child {
    border: 1px solid #000;
}

.output {
    grid-column: 1/5;
    background-color: #1c1c1c;
    display: grid;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
}

.zero {
    grid-column: 1/3;
    display:grid;
    align-items: center;
    justify-content: start;
    padding-left: 40px;
}

div, button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:#ffffff;
}

.light-gray{
    background-color: #D4D4D2;
}
.dark-grey{
    background-color: #505050;
}
.orange{
    background-color: orangered;
}